# ==========================================
# MAIL CONFIGURATION
# ==========================================
MAIL_HOST=smtp.gmail.com # your smtp host
MAIL_PORT=587 # your smtp port
MAIL_USERNAME=your_email@example.com # your smtp username
MAIL_PASSWORD=your_app_password_here # your smtp password
MAIL_ENCRYPTION=tls # your smtp encryption
MAIL_FROM_ADDRESS=your_email@example.com # your smtp from address
MAIL_FROM_NAME="Your App Name" # your app name

# ==========================================
# DATABASE CONFIGURATION
# ==========================================
DB_HOST=127.0.0.1 # your database host
DB_USER=root # your database user
DB_PASS= # your database password
DB_NAME=your_database_name # your database name
