.switch
{
    position: relative;

    display: inherit;
    display: inline-block; 

    width: 37px;
    height: 1.5rem;
    margin: 0;

}
.switch input
{
    display: none;
}
.switch input:checked + .switch-slider
{
    border: 1px solid #2196F3;
    background-color: #2196F3;
}
.switch input:checked + .switch-slider:before
{
    transform: translateX(14px); 

    background: #ffffff;
}
.switch input:disabled + .switch-slider
{
    border: 1px solid #949494;
}
.switch input:disabled:checked + .switch-slider
{
    border: 1px solid #949494;
}
.switch input:disabled:checked + .switch-slider:before
{
    background-color: #8a98eb;
}

.switch-slider
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    cursor: pointer;

    border: 1px solid #949494;
    border-radius: 34px !important;
    background-color: white;
}

.switch-slider:before
{
    position: absolute;
    bottom: 1px;
    left: 2px;

    width: 18px;
    height: 18px;

    content: '';
    transition: all .15s cubic-bezier(.68, -.55, .265, 1.55); 

    border-radius: 50% !important;
    background-color: #b6b4b4;
}

.switch-wrapper .switch + .switch
{
    margin-left: 1rem !important;
}

.switch input:checked + .switch-slider:after
{
    right: auto;
    left: 0; 

    content: attr(data-label-on);

    color: #5e72e4;
}

.switch-slider:after
{
    font-family: inherit;
    font-size: .75rem;
    font-weight: 600;
    line-height: 24px;

    position: absolute;
    top: 0;
    right: 0;

    display: block;
    overflow: hidden;

    min-width: 1.66667rem;
    margin: 0 .21667rem;

    content: attr(data-label-off);
    transition: all .15s ease; 
    text-align: center;

    color: #ced4da;
}
@media (prefers-reduced-motion: reduce)
{
    .switch-slider:after
    {
        transition: none;
    }
}

.switch-primary input:checked + .switch-slider
{
    border-color: #5e72e4;
}
.switch-primary input:checked + .switch-slider:before
{
    background: #5e72e4;
}
.switch-primary input:checked + .switch-slider:after
{
    color: #5e72e4;
}

.switch-primary input:disabled:checked + .switch-slider
{
    border-color: #5e72e4;
}
.switch-primary input:disabled:checked + .switch-slider:before
{
    background-color: #8a98eb;
}

.switch-secondary input:checked + .switch-slider
{
    border-color: #f7fafc;
}
.switch-secondary input:checked + .switch-slider:before
{
    background: #f7fafc;
}
.switch-secondary input:checked + .switch-slider:after
{
    color: #f7fafc;
}

.switch-secondary input:disabled:checked + .switch-slider
{
    border-color: #f7fafc;
}
.switch-secondary input:disabled:checked + .switch-slider:before
{
    background-color: white;
}

.switch-success input:checked + .switch-slider /* activated background */
{
    border-color: #2dce89;
    background-color: #2dce89;
}
.switch-success input:checked + .switch-slider:before /* activated circle */
{
    background: white;
}
.switch-success input:checked + .switch-slider:after  /* activated text */
{
    color: white;
}

.switch-success input:disabled:checked + .switch-slider
{
    border-color: #2dce89;
}
.switch-success input:disabled:checked + .switch-slider:before
{
    background-color: #54daa1;
}

.switch-info input:checked + .switch-slider
{
    border-color: #11cdef;
}
.switch-info input:checked + .switch-slider:before
{
    background: #11cdef;
}
.switch-info input:checked + .switch-slider:after
{
    color: #11cdef;
}

.switch-info input:disabled:checked + .switch-slider
{
    border-color: #11cdef;
}
.switch-info input:disabled:checked + .switch-slider:before
{
    background-color: #41d7f2;
}

.switch-warning input:checked + .switch-slider
{
    border-color: #fb6340;
}
.switch-warning input:checked + .switch-slider:before
{
    background: #fb6340;
}
.switch-warning input:checked + .switch-slider:after
{
    color: #fb6340;
}

.switch-warning input:disabled:checked + .switch-slider
{
    border-color: #fb6340;
}
.switch-warning input:disabled:checked + .switch-slider:before
{
    background-color: #fc8c72;
}

.switch-danger input:checked + .switch-slider
{
    
    border: 1px solid var(--danger);
    background-color: var(--danger);
}
.switch-danger input:checked + .switch-slider:before
{
    background: #white;
}
.switch-danger input:checked + .switch-slider:after
{
    color: var(--danger);
}

.switch-danger input:disabled:checked + .switch-slider
{
    border-color: var(--danger);
}
.switch-danger input:disabled:checked + .switch-slider:before
{
    background-color: #f76783;
}

.switch-light input:checked + .switch-slider
{
    border-color: #adb5bd;
}
.switch-light input:checked + .switch-slider:before
{
    background: #adb5bd;
}
.switch-light input:checked + .switch-slider:after
{
    color: #adb5bd;
}

.switch-light input:disabled:checked + .switch-slider
{
    border-color: #adb5bd;
}
.switch-light input:disabled:checked + .switch-slider:before
{
    background-color: #c9cfd4;
}

.switch-dark input:checked + .switch-slider
{
    border-color: #212529;
}
.switch-dark input:checked + .switch-slider:before
{
    background: #212529;
}
.switch-dark input:checked + .switch-slider:after
{
    color: #212529;
}

.switch-dark input:disabled:checked + .switch-slider
{
    border-color: #212529;
}
.switch-dark input:disabled:checked + .switch-slider:before
{
    background-color: #383f45;
}

.switch-default input:checked + .switch-slider
{
    border-color: #172b4d;
}
.switch-default input:checked + .switch-slider:before
{
    background: #172b4d;
}
.switch-default input:checked + .switch-slider:after
{
    color: #172b4d;
}

.switch-default input:disabled:checked + .switch-slider
{
    border-color: #172b4d;
}
.switch-default input:disabled:checked + .switch-slider:before
{
    background-color: #234174;
}

.switch-white input:checked + .switch-slider
{
    border-color: #fff;
}
.switch-white input:checked + .switch-slider:before
{
    background: #fff;
}
.switch-white input:checked + .switch-slider:after
{
    color: #fff;
}

.switch-white input:disabled:checked + .switch-slider
{
    border-color: #fff;
}
.switch-white input:disabled:checked + .switch-slider:before
{
    background-color: white;
}

.switch-neutral input:checked + .switch-slider
{
    border-color: #fff;
}
.switch-neutral input:checked + .switch-slider:before
{
    background: #fff;
}
.switch-neutral input:checked + .switch-slider:after
{
    color: #fff;
}

.switch-neutral input:disabled:checked + .switch-slider
{
    border-color: #fff;
}
.switch-neutral input:disabled:checked + .switch-slider:before
{
    background-color: white;
}

.switch-darker input:checked + .switch-slider
{
    border-color: black;
}
.switch-darker input:checked + .switch-slider:before
{
    background: black;
}
.switch-darker input:checked + .switch-slider:after
{
    color: black;
}

.switch-darker input:disabled:checked + .switch-slider
{
    border-color: black;
}
.switch-darker input:disabled:checked + .switch-slider:before
{
    background-color: #1a1a1a;
}