@font-face {
	font-family: "Cairo";
	src: url("Cairo-Regular.ttf");
}
@font-face {
	font-family: "Cairo-Light";
	src: url("Cairo-Light.ttf");
}
@font-face {
	font-family: "Cairo-Bold";
	src: url("Cairo-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: "Cairo-SemiBold";
	src: url("Cairo-SemiBold.ttf");
}