.help-btn{
    background-color: var(--help-btn-bg);
    color: var(--help-btn-text);
    border-radius: 50%;
    box-sizing: border-box;
    padding:0.2rem 0.25rem;
    font-size:0.57rem;
    vertical-align: super;
    cursor: pointer;
}


.tooltip > .tooltip-inner {background-color: var(--primary);}